#content {
    background: radial-gradient(circle, #0D1117 0%, #05070A 100%);
    height: 755px;
}

#container {
    width: 100%;
}

.container .main_title {
    padding-top: 150px;
}

.container .main_title h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #bd945f;
    text-align: center;
    font-size: 70px;
}

.container .main_title p {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}

.container .choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}
.container .choice a{
    padding: 8px 16px;
    background: #6b21a8;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid #6b21a8;
    border-radius: 12px;
}
.container .choice a:hover {
    background-color: #bd945f;
}