#content {
    position: relative; 
    width: 100%;
    height: 900px; 
    overflow: hidden;
}
#content .banner img {
    width: 100%;
    height: 900px;
    position: relative;
    background-size: cover;
}
#content .overlay {
    position: absolute;
    inset: 0 0  0; 
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.9));
}
#content .option {
    position: absolute;
    top: 50%;         
    left: 50%;        
    transform: translate(-50%, -55%); 
    z-index: 10;      
    width: 100%;      
}
#content .option .main_title h2{
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    font-size: 100px;
}
#content .option .main_title h3{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
    color: whitesmoke;
}

#content .option .choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

#content .option .choice a{
    padding: 8px 16px;
    background: #6b21a8;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid #6b21a8;
    border-radius: 12px;
}
#content .option .choice a:hover {
    background-color: #bd945f;
}

#cre  {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #bd945f;
    padding-top: 10px;
    height: 48px;
    color: whitesmoke;
}